
<div class="person">
  <div class="name">
    <%= profile.first_name %>
    <%= profile.second_name %>
  </div>
  <div class="age">
    <%= profile.user_age %> let
  </div>
  <div class="mail">
    <%= profile.email %>
  </div>
</div>

