<% title "Seznam clenu" %>
<style type="text/css">
  /* po dotvoreni teto sablony presunout do css souboru */
  .person {
    border: 1px solid #ccc;
  }
  .person div {
    display: inline-block;
    padding: 2px;
  }
  .person .name {
    width: 200px;
    font-weight: bold;
  }
  .person .age {
    width: 100px;
    border: 1px solid #ddd;
    border-top: none;
    border-bottom: none;
    text-align: right;
  }

</style>

<h2>Clenove</h2>
<% if @profiles[:members].nil? %>
  <p>Žádní členové</p>
<% else %>
  <%= render 'profiles/list_block', :profiles => @profiles[:members] %>
<% end %>

<h2>Neclenove</h2>
<% if @profiles[:members].nil? %>
  <p>Žádní nečlenové</p>
<% else %>
  <%= render 'profiles/list_block', :profiles => @profiles[:outsiders] %>
<% end %>
