FORMAT: 1A
HOST: http://www.trebic.vzs.cz/

# VZS

Api pro pristup k zachranarskym strankam

# Group Events

Event is a simple API allowing consumers to view events and subscribe to them

## Events collection [/events]

### create new event [POST]
+ Request (application/json)
    
            {
                "description": "Test Description"
            }

+ Response 200 (application/json)

            {
                "created_at": "2018-04-05T17:58:42+02:00",
                "default_hours_of_work": null,
                "description": "Povinné  pro všechny hlídající v SPP",
                "end_datetime": "2018-06-23T00:00:00+02:00",
                "event_type": "",
                "finished": null,
                "group": 0,
                "id": 254,
                "link": "",
                "name": "Školení Stanice první pomoci (SPP) na Dalešicích",
                "place": "",
                "responsible_person_id": 107,
                "start_datetime": "2018-06-23T00:00:00+02:00",
                "updated_at": "2018-04-05T17:58:42+02:00",
                "participants": 
            }
            
            
## Event [/events/{id}+.json]

+ Parameters
    + id (number, required, `254`) id of event
    
    
### get event detail [GET]

+ Response 200 (application/json)

            {
                "created_at": "2018-04-05T17:58:42+02:00",
                "default_hours_of_work": null,
                "description": "Povinné  pro všechny hlídající v SPP",
                "end_datetime": "2018-06-23T00:00:00+02:00",
                "event_type": "",
                "finished": null,
                "group": 0,
                "id": 254,
                "link": "",
                "name": "Školení Stanice první pomoci (SPP) na Dalešicích",
                "place": "",
                "responsible_person_id": 107,
                "start_datetime": "2018-06-23T00:00:00+02:00",
                "updated_at": "2018-04-05T17:58:42+02:00",
                "participants": [
                    {
                        "created_at": "2018-04-08T22:06:02+02:00",
                        "event_id": 254,
                        "id": 914,
                        "participation_type": "yes",
                        "position": null,
                        "profile_id": 103,
                        "updated_at": "2018-04-08T22:06:02+02:00",
                        "participant": {
                            "email": "matacerm@seznam.cz",
                            "first_name": "Martina",
                            "id": 103,
                            "second_name": "Šalbabová",
                            "telephone": "724 070 227",
                            "vzs_id": "056"
                        }
                    },
                    {
                    "created_at": "2018-04-16T14:53:20+02:00",
                    "event_id": 254,
                    "id": 931,
                    "participation_type": "yes",
                    "position": null,
                    "profile_id": 107,
                    "updated_at": "2018-04-16T14:53:20+02:00",
                    "participant": {
                        "email": "nemec.vzs@gmail.com",
                        "first_name": "Petr",
                        "id": 107,
                        "second_name": "Němec",
                        "telephone": "736 114 551",
                        "vzs_id": "077"
                        }
                    },
                    {
                        "created_at": "2018-05-14T21:16:17+02:00",
                        "event_id": 254,
                        "id": 942,
                        "participation_type": "yes",
                        "position": null,
                        "profile_id": 109,
                        "updated_at": "2018-05-14T21:16:17+02:00",
                        "participant": {
                            "email": "vojtech.salbaba@gmail.com",
                            "first_name": "Vojtěch",
                            "id": 109,
                            "second_name": "Šalbaba",
                            "telephone": "607 287 679",
                            "vzs_id": "080"
                            }
                        }
                    ]
                }

### Create a New Question [POST]

You may create your own question using this action. It takes a JSON
object containing a question and a collection of answers in the
form of choices.

+ Request (application/json)

        {
            "question": "Favourite programming language?",
            "choices": [
                "Swift",
                "Python",
                "Objective-C",
                "Ruby"
            ]
        }

+ Response 201 (application/json)

    + Headers

            Location: /questions/2

    + Body

            {
                "question": "Favourite programming language?",
                "published_at": "2015-08-05T08:40:51.620Z",
                "choices": [
                    {
                        "choice": "Swift",
                        "votes": 0
                    }, {
                        "choice": "Python",
                        "votes": 0
                    }, {
                        "choice": "Objective-C",
                        "votes": 0
                    }, {
                        "choice": "Ruby",
                        "votes": 0
                    }
                ]
            }