<% title "Seznam členů" %>
<% context_menu do %>
  <% if can? :manage, User %>
    <%= link_new new_user_path, 'Nový člen' %>
  <% end %>
<% end %>

<div class="row-fluid" id="userList">

  <div class="tabbable">
    <ul class="nav nav-tabs">
      <% @users.keys.each do |group_key| %>
        <li><a href="#<%= group_key %>" data-toggle="tab"><%=t group_key, :scope => 'user.groups' %></a></li>
      <% end %>
    </ul>

    <div class="tab-content">
      <% @users.each do |group_key,group| %>
        <%= render 'index_tab', :group_key => group_key, :group => group %>
      <% end %>
    </div>
  </div>
</div>
