<% title "Seznam členů" %>

<div class="personList">
  <% @users.each do |group_key,group| %>
    <h2><%=t group_key, :scope => 'user.groups' %></h2>
    <% group.each do |age_key, age_group| %>
      <h3><%=t age_key, :scope => 'user.groups' %></h3>
        <table class="table">
          <thead>
            <tr>
              <th>Jméno</th>
              <th>Věk</th>
              <th>E-mail</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
      <% age_group.each do |user| %>
            <%= render 'profiles/list_person', :profile => user.profile %>
      <% end %>
          </tbody>
        </table>
    <% end %>
  <% end %>
</div>
