<div class="btn-group">
  <%= link_to participate_event_path(event),:confirm => "Opravud se přihlásit k akci? Odhlásit Vás může jen vedoucí akce.", :class => "btn btn-mini" do %>
    Přijdu <%= glyph :ok %>
  <% end %>
  <a href="#" class="btn btn-mini">Možná</a>
  <a href="#" class="btn btn-mini"> Nepřijdu <%= glyph :remove %></a>
</div>
