<%= title "Nejbližší Akce"%>

<% context_menu do %>
   <% if can? :create, Event %>
     <%= link_new new_event_path, 'Nová událost' %>
   <% end %>
<% end %>

<% @pending_events.each do |event| %>
  <%= render "pending_event", :event => event %>
<% end %>

<h1> Proběhlé akce</h1>

<% @done_events.each do |event| %>
  <%= render "done_event", :event => event %>
<% end %>
