<table class="table">
  <thead>
    <tr>
      <th class="span2">Datum</th>
      <th class="span2">1</th>
      <th class="span2">2</th>
      <th class="span2">3</th>
      <th class="span2">4</th>
    </tr>
  </thead>
  <tbody>
    <% life_guarding_timespan.dates.each do |date| %>
      <tr <% if (date+1).cweek.odd?%> class="info" <%else%> class="error" <%end%>>
        <td><strong><%= l date, :format => :with_day %></strong></td>
        <% people = life_guarding_timespan.people_at(date) %>
        <% (1..4).each do |position| %>
          <%= content_tag :td, :class => "life_guard", :id => "life_guard-#{date.to_s}-#{position}" do %>
          <% if people[position].blank? %>
            <%= render "empty", :life_guarding_timespan => @life_guarding_timespan, :date => date, :position => position %>
        <% else %>
            <%= render "life_guards/entry", :life_guard => people[position], :life_guarding_timespan => life_guarding_timespan %>
        <% end %>
<% end %>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
