<table class="table">
  <thead>
    <tr>
      <th>Datum</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
    </tr>
  </thead>
  <tbody>
    <% life_guarding_timespan.dates.each do |date| %>
      <tr <% if date.wday-1 == Date::DAYS_INTO_WEEK[:sunday]%> class="info" <%end%>>
        <td><strong><%= l date, :format => :with_day %></strong></td>
        <% people = life_guarding_timespan.people_at(date) %>
        <% (1..4).each do |position| %>
          <% if people[position].blank? %>
            <%= content_tag :td, :class => "life_guard", :id => "life_guard-#{date.to_s}-#{position}" do %>
              <%= link_to "Přihlásit",
                subscribe_life_guarding_timespan_life_guards_path(life_guarding_timespan,
                                                                  :date => date,
                                                                  :position => position),
                :method => :put,
                :confirm=> "Opravdu se chcete přihlásit na #{l date}? Odhlásit Vás může jen předseda.",
                :remote => true %>
            <% end %>
        <% else %>
          <td>
            <%= people[position].map{|e| e.profile.full_name}.to_sentence%>
          </td>
        <% end %>

      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
