<div id="modal" class="modal hide fade" role="form">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><i class="icon-remove"></i></button>
    <h3 id="myModalLabel">Vyber člena</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Zrušit</button>
    <button class="btn btn-primary">Uložit</button>
  </div>
</div>
