<%= title "Hlídání" %>
<% context_menu do %>
  <%= link_new new_life_guarding_timespan_path, "Nové hlídání" %>
  <%= link_show life_guarding_timespans_path, "Seznam hlídání" %>
<% end %>

<p>Přihlašování na Hartvíkovice. Přihlašovat se mohou jen členi. Pokud budete potřebovat odhlásit, kontaktujte předsedu. Přihlašujte se s rozmyslem, ať to nemusíme ručně opravovat.</p>
<p> Zapisujte se prosím od neděle do soboty. <br />Výměna směn probíhá v sobotu večer, pokud se směny nedomluví jinak. </p>
<p> Ti kdo nejedete jako vedoucí na tábor, prosím přihlašujte se přednostně na termín tábora 13 - 20. 7.</p>

<% if @life_guarding_timespan %>
  <%= render @life_guarding_timespan %>
<% end %>
