<% if photo_counter % 4 == 0 %>
  <div class="row">
<% end %>
  <div class="span3">
    <a href="<%= photo.image.url(:large) %>" rel="lightbox[]" target="_blank">
      <%= image_tag photo.image.url(:small) %>
    </a>
    <h5><%= photo.name %></h5>
  </div>
<% if photo_counter % 4 == 3 %>
  </div>
  <br />
<% end %>


