<% title "Přejmenování fotky" %>
<h4>Přejmenování fotky</h4>
<%= link_to @photo.gallery, :class => ['btn', 'pull-right', 'btn-primary', 'btn-large'] do %>
  <i class="icon-arrow-left icon-white"></i> Zpět ke galerii
<% end %>
<%= render 'photos/form', :photo => @photo, :existing => true %>

