<div id="carousel-#{gallery.id}" class="es-carousel-wrapper">
    <div class="es-carousel">
        <ul>
          <% gallery.photos.each do |photo| %>
            <li>
              <a href="<%= photo.image.url(:large)%>", rel="lightbox[gallery-<%= gallery.to_param%>]">
                <%= image_tag photo.image.url(:gallery) %>
              </a>
            </li>
          <% end %>
        </ul>
    </div>
</div>
