      <div>
        <%= link_to galleries_path, :class => "btn btn-primary btn-large" do %>
          <i class="icon-arrow-left icon-white"></i> Seznam fotogalerií
        <%end %>
      </div>
      <br />
      <div class="btn-group">
        <% if can? :edit, @gallery%>
          <%= link_to edit_gallery_path(@gallery), :class => "btn" do %>
            <i class="icon-edit"></i> Upravit
          <% end %>
          <%= link_to @gallery, :confirm => 'Opravdu odstranit tuto galerii?', :method => :delete, :class => "btn btn-danger" do %>
            <i class="icon-trash"></i> Smazat
          <% end %>
        <% end %>
      </div>
