<% title @gallery.name%>
<div class="row-fluid vzs-article">

  <div class="row-fluid">
    <div class="pull-right"><%= render 'galleries/show_buttons' %></div>
    <%= @gallery.description %>&nbsp;

    <%= render 'galleries/show_photos' %>

  </div>

</div>

