<% title @gallery.name%>
<div class="row-fluid vzs-article">

  <div class="row-fluid">
    <div class="pull-right"><%= render 'galleries/show_buttons' %></div>
    <div class="">
      <%= @gallery.description %>&nbsp;
      <% unless @gallery.article.nil? %>
        <p>Pro více informací viz článek <%= link_to @gallery.article.title, @gallery.article %>.</p>
      <% end %>
    </div>

    <%= render 'galleries/show_photos' %>

  </div>

</div>

