#vzs-left-menu { 
  margin-left: 35px;
  margin-right: 25px;
  padding-top: 50px;
  width: 180px;
  position:relative;
}
.vzs-main-logo {
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    position:absolute;
    left:15px;
    top:-124px;
}

.hero-unit h1 {
  font-size: 40px;
}

.page-header {
  margin-bottom: 0px;
  border-bottom: 0px;
}
#vzs-main-title {
  padding-left:30px;
  position:relative;
}

.vzs-main-title-text {
  text-shadow: 0px 2px 5px #FFF;
  text-outline: 3px;
}

.vzs-main-logo-container {
}
.vzs-main-content {
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: white;
}

body {
  //background:transparent no-repeat 100% 10px;
  padding-top: 25px;
  background:transparent;
  background-image:image-url("horni-lista-654x384.png"), image-url("prechod-min.gif");
  background-repeat:no-repeat, repeat-x;
  background-position: 100% 25px, 100% 50px;
}

#vzs-page-content {}

.vzs-note { color: rgb(153,153,153); }

.vzs-article {}
.vzs-article-content { text-align: justify; }
.vzs-article-comments {}
.vzs-article-attachments {}

img.float.right {
  float:left;
  margin-right: 10px;
}

.banner {
  padding: 10px;
}

.well-white {
  background: white;
}
