#vzs-left-menu { }
#vzs-main-logo {
    text-align: center;
    padding-bottom: 20px;
}
#vzs-main-content {}
#vzs-page-content {}

.vzs-note { color: rgb(153,153,153); }

.vzs-article {}
.vzs-article-content { text-align: justify; }
.vzs-article-comments {}
.vzs-article-attachments {}

img.float.right {
  float:left;
  margin-right: 10px;
}
