
<div>Vitejte na strankach VZS.</div>

<ul>
	<li><%= link_to 'Seznam článků', articles_path %></li>
    <% if can? :read_members, Profile %>
      <li><%= link_to 'Seznam členů VZS', members_path %></li>
    <% end %>
</ul>


