
<div>Vitejte na strankach VZS.</div>

<ul>
	<li><%= link_to 'Seznam článků', articles_path %></li>
  <% if can? :manage, Comment %>
	<li><%= link_to 'Seznam všech komentářů', comments_path %></li>
  <% end %>
</ul>


