<% title t('label.user.login') %>
<%= form_for @user_session, :html => {:class => "form-signin" } do |form| %>
  <h2 class="form-signin-heading">Přihlášení</h2>
  <div class="input-append input-prepend">
    <span class="add-on"><i class="icon-user"></i></span>
    <input type="text" class="input-block-level" name="user_session[login]" placeholder="Přihlašovací jméno">
    <span class="add-on"><abbr title="Výchozím uživatelským jménem je číslo průkazu"><i class="icon-question-sign"></i></abbr></span>
  </div>
  <div class="input-append input-prepend">
    <span class="add-on"><i class="icon-lock" data-toggle="tooltip" title="first tooltip"></i></span>
    <input type="password" class="input-block-level" name="user_session[password]" placeholder="Heslo">
    <span class="add-on"><abbr title="Výchozím heslem je rodné číslo, včetně lomítka"><i class="icon-question-sign"></i></abbr></span>
  </div>
    <label class="checkbox">
      <%= form.check_box :remember_me %> Zůstat přihlášen(á) na tomto počítači
    </label>
    <button class="btn btn-primary" type="submit">Přihlásit</button>
  <% end %>
