<ul class="nav">
  <li> <a href="#"> O nás </a> </li>
  <li> <a href="#"> Kontakty </a> </li>
</ul>

<ul class="nav pull-right">
  <% if current_user %>
    <li><%= link_to full_name(current_user), edit_user_path(current_user), :title => 'Upravit profil' %></li>
    <li>
      <%= link_to logout_path do %>
        Odhlásit
      <% end %>
    </li>

  <% else %>
    <li><%= link_to "Přihlásit", login_path %></li>
    <li><%= link_to "Registrovat", register_path %></li>
  <% end %>
</ul> <!--/.nav pullright -->

