            <% if content_for? :title %>
              <div class="page-header">
                <h1>
                  <%= yield(:title) %>
                  <% if content_for? :title_sub %>
                  <br />
                    <small><%= yield(:title_sub) %></small>
                  <% end %>
                </h1>
              </div>
            <% end %>
