<ul class="unstyled well well-white">
  <% if can? :index, Training %>
    <%= link_to trainings_path do %>
      <i class="icon-group"></i>
      Vedení tréninků
    <% end %>
  <% end %>
  <a href="/pages/21-treninky.html">
    <h5> Plavání mládež </h5>
    <li>Pondělí <span class="pull-right">17:00 - 18:00</span></li>
    <li>Pátek <span class="pull-right">18:00 - 20:00</span></li>
    <h5> Plavání dospělí </h5>
    <li>Pátek <span class="pull-right">18:00 - 18:45</span></li>
    <%#<h5> Lezecký výcvik </h5>%>
    <%#<li>Středa <span class="pull-right">18:00 - 19:00</span><br /><small>(sudá)</small> </li>%>
  </a>
</ul>
